<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #routeForm="ngForm">


      <div class="form-group">
        <label for="category">category</label>
        <input type="text" [(ngModel)]="routeDto.category"
               class="form-control"
               id="category"
               name="category"
               placeholder="Enter category"
               required #category="ngModel">
      </div>
      <div [hidden]="!category.pristine" class="alert alert-danger">category is required</div>

      <div class="form-group">
        <label for="duration">duration</label>
        <input type="text" [(ngModel)]="routeDto.duration"
               class="form-control"
               id="duration"
               name="duration"
               placeholder="Enter duration"
               required #duration="ngModel">
        <div [hidden]="!duration.pristine" class="alert alert-danger">duration is required</div>
      </div>

      <div class="form-group">
        <label for="cost">cost</label>
        <input type="text" [(ngModel)]="routeDto.cost"
               class="form-control"
               id="cost"
               name="cost"
               placeholder="Enter cost"
               required #cost="ngModel">
        <div [hidden]="!cost.pristine" class="alert alert-danger">cost is required</div>
      </div>


      <button type="submit" [disabled]="!routeForm.form.valid"
              class="btn btn-info">Submit</button>

    </form>
  </div>
</div>
