<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">surname</th>
        <th scope="col">middlename</th>
        <th scope="col">gender</th>
        <th scope="col">birthday</th>
        <th scope="col">countchildren</th>
        <th scope="col">stationstartdate</th>
        <th scope="col">salary</th>
        <th scope="col">departmentid</th>
        <th scope="col">brigadeid</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let worker of workers">
        <td>{{ worker.workerid }}</td>
        <td>{{ worker.name }}</td>
        <td>{{ worker.surname }}</td>
        <td>{{ worker.middlename }}</td>
        <td>{{ worker.gender }}</td>
        <td>{{ worker.birthday }}</td>
        <td>{{ worker.countchildren }}</td>
        <td>{{ worker.stationstartdate }}</td>
        <td>{{ worker.salary }}</td>
        <td>{{ worker.departmentid }}</td>
        <td>{{ worker.brigadeid }}</td>
        <td><a href="mailto:{{ worker.name }}">{{ worker.name }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
