<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/workercontroller" class="btn btn-info">Worker Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/flightcontroller" class="btn btn-info">Flight Controller</a>
            </li>
            <!--<li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>-->
            <!--<li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>-->
            <li class="list-inline-item">
              <a routerLink="/workers" class="btn btn-info">List Workers</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addworker" class="btn btn-info">Add Worker</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
