<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/workercontroller" class="btn btn-info">Worker Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/flightcontroller" class="btn btn-info">Flight Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/locomotivecontroller" class="btn btn-info">Locomotive Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/passengercontroller" class="btn btn-info">Passenger Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/routecontroller" class="btn btn-info">Route Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/ticketcontroller" class="btn btn-info">Ticket Controller</a>
            </li>

            <li class="list-inline-item">
              <a routerLink="/traincontroller" class="btn btn-info">Train Controller</a>
            </li>


          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
